:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --white: hsl(0,0%,100%);
    --white-pale: hsla(0,0%,100%,.8);
    --attribution-blue: hsl(228, 45%, 44%);
}